.img-home{
    max-width: 96%;
    max-height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.container-home{
    width: 96%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    position: absolute;
    z-index: 1;

}